:root {
    --header-footer-color: #85144b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #AAAAAA;
}

header {
    padding: 20px 35px;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    color: #FF851B;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

footer {
    padding: 40px 25px;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.section-headers {
    color: #111111;
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 50%;
}

.about-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.profile-summary {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.profile-summary img {
    padding: 20px;
    width: 40%;
    margin: 3.5%;
}

.profile-summary p {
    width: 35%;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    color: #111111;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px
}

.project-past {
    margin: 20px;
    flex: 1;
}

.project-past img {
    width: 50%;
}

.project-current {
    margin: 20px;
    flex:1;
}

.project-current img {
    width: 100%;
}

.links {
    justify-content: center;
    flex-wrap: wrap;
    background-color: Teal;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.links ul li {
    padding: 10px 15px;
    font-size: 1.5vw;
}

.links ul li a {
    padding: 0 30px; 
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        text-align: center;
        width: 100%;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .profile-summary img, .profile-summary p {
        width: 100%;
    } 

    .section-headers {
        width: 80%;
    }

    .profile-summary p {
        text-align: center;
    }

    .project-past, .project-current{
        flex: 0 70%;
    }
}

@media screen and (max-width: 575 px) {

    .section-headers {
        width: 95%;
    }
    .project-past, .project-current {
        flex: 0 100%;
    }
}