* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.section-headers {
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 50%;
}

.about-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.profile-summary {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.profile-summary img {
    padding: 20px;
    width: 40%;
    margin: 3.5%;
}

.profile-summary p {
    width: 35%;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px
}

.project-past {
    margin: 20px;
    flex: 1;
}

.project-past img {
    width: 50%;
}

.project-current {
    margin: 20px;
    flex:1;
}

.project-current img {
    width: 100%;
}

.links {
    justify-content: center;
    flex-wrap: wrap;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.links ul li {
    padding: 10px 15px;
    font-size: 1.5vw;
}

.links ul li a {
    padding: 0 30px; 
}

footer {
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .project-past, .project-current{
        flex: 0 70%;
    }
}

@media screen and (max-width: 575 px) {
    .project-past, .project-current {
        flex: 0 100%;
    }
}